#new-printJob-modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", role: "dialog", tabindex: "-1"}
  .modal-dialog.modal-lg
    .modal-content

      - @print_job = PrintJob.new
      = form_for @print_job do |f|

        .modal-header
          %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
          %h4 New Print Job

        .modal-body

          .row

            .form-group.col-md-2
              %label Job #:
              = f.text_field :number,
                class: "form-control"

            .form-group.col-md-3
              %label Account:
              = f.select :account,
                ["eClinicalWorks", "healow"],
                {},
                class: "form-control"

            .form-group.col-md-5
              %label Job Name:
              = f.text_field :name,
                class: "form-control"

            .form-group.col-md-2
              %label Printer:
              = f.select :printer,
                ["Staples"],
                {},
                class: "form-control"

          .row

            .form-group.col-md-12
              %label Project:
              = f.select :project_id,
                Project.all.order("name").map { |p| [p.name, p.id] },
                { include_blank: true },
                class: "form-control"

          .row

            .form-group.col-md-2
              %label Qty:
              = f.number_field :quantity,
                class: "form-control",
                value: 1,
                min: 1

            .form-group.col-md-2
              %label Rate:
              .input-group
                .input-group-addon $
                = f.number_field :rate,
                  class: "form-control",
                  step: 0.01

          .row

            .form-group.col-md-3
              %label Total Quote:
              .input-group
                .input-group-addon $
                = f.number_field :total_quote,
                  class: "form-control",
                  step: 0.01

            .form-group.col-md-3
              %label Total Paid:
              .input-group
                .input-group-addon $
                = f.number_field :total_paid,
                  class: "form-control",
                  step: 0.01

            .form-group.col-md-2
              %label Rewards %:
              .input-group
                = f.number_field :rewards_percentage,
                  class: "form-control",
                  value: 5
                .input-group-addon %

            .form-group.col-md-3
              %label Date Paid:
              = f.date_field :date_paid,
                class: "form-control"

          .row

            .form-group.col-md-12
              %label Notes:
              = f.text_area :note,
                class: "form-control"

        .modal-footer
          = f.submit "Create Print Job", class: "btn btn-success btn-sm"
