.col-md-12
  .panel.panel-default
    .panel-heading
      %h4
        %i.fa.fa-print
          Print Jobs

    .panel-body
      = search_form_for @q, class: "form-inline", remote: true do |f|

        .form-group
          %label.control-label{style: "margin-right: 15px;"} Search:
          = f.text_field :number_or_name_cont,
            class: "form-control input-sm",
            onkeyup: "$(this).parents('form').trigger('submit.rails')"

        .form-group
          %label.control-label{style: "margin-right: 15px; margin-left: 15px;"} Account:
          = f.select :account_cont,
            options_for_select([["eClinicalWorks", "eClinicalWorks"],["healow", "healow"]], params[:account]),
            {include_blank: "All Accounts"},
            class: "form-control",
            onchange: "$(this).parents('form').trigger('submit.rails');"

        .form-group
          %label.control-label{style: "margin-right: 15px; margin-left: 15px;"} From:
          = f.date_field :date_paid_gteq,
            class: "form-control",
            onchange: "$(this).parents('form').trigger('submit.rails');"

        .form-group
          %label.control-label{style: "margin-right: 15px; margin-left: 15px;"} To:
          = f.date_field :date_paid_lteq,
            class: "form-control",
            onchange: "$(this).parents('form').trigger('submit.rails');"

        .form-group.pull-right
          %button.btn.btn-success.btn-sm.btn-margin.pull-right{data: { toggle: "modal", target: "#new-printJob-modal" } } New Print Job
          = link_to print_jobs_path(format: "xls"), class: "btn btn-primary btn-sm btn-margin pull-right" do
            Download as XLS

        %br
        %br

      %table.table.table-hover.table-responsive
        %thead
          %tr
            %th.text-center= sort_link(@q, :number, "#")
            %th= sort_link(@q, :name, "Name")
            %th= sort_link(@q, :account, "Account")
            %th= sort_link(@q, :printer, "Printer")
            %th.text-center= sort_link(@q, :quantity, "Qty")
            %th.text-center= sort_link(@q, :rate, "Rate")
            %th.text-center= sort_link(@q, :total_quote, "Total Quote")
            %th.text-center= sort_link(@q, :rewards_percentage, "Rewards %")
            %th.text-center= sort_link(@q, :total_rewards, "Total Rewards")
            %th.text-center= sort_link(@q, :total_paid, "Total Paid")
            %th.text-center= sort_link(@q, :date_paid, "Date Paid")
            %th Actions
        %tbody= render @print_jobs

= render "new"
          
