.col-md-12
  .panel.panel-default
    .panel-heading
      %h4
        %i.fa.fa-print
          Print Jobs
        %button.btn.btn-success.btn-sm.btn-margin.pull-right{data: { toggle: "modal", target: "#new-printJob-modal" } } New Print Job
        = link_to print_jobs_path(format: "xls"), class: "btn btn-primary btn-sm btn-margin pull-right" do
          Download as XLS

    .panel-body
      %table.table.table-hover.table-responsive
        %thead
          %tr
            %th.text-center= sort_link(@q, :number, "#")
            %th= sort_link(@q, :name, "Name")
            %th= sort_link(@q, :account, "Account")
            %th= sort_link(@q, :printer, "Printer")
            %th.text-center= sort_link(@q, :quantity, "Qty")
            %th.text-center= sort_link(@q, :rate, "Rate")
            %th.text-center= sort_link(@q, :total_quote, "Total Quote")
            %th.text-center= sort_link(@q, :rewards_percentage, "Rewards %")
            %th.text-center= sort_link(@q, :total_rewards, "Total Rewards")
            %th.text-center= sort_link(@q, :total_paid, "Total Paid")
            %th.text-center= sort_link(@q, :date_paid, "Date Paid")
            %th Actions
        %tbody= render @print_jobs

= render "new"
          
