.comment{id: "comment-#{comment.id}"}
  %span
    = image_tag comment.user.profile_photo.url(:small), class: "profile-photo"
  .comment-desk
    .panel
      .panel-body
        .arrow
        %h4
          = comment.user_name
          .pull-right
            = link_to [comment.project, comment], method: :delete,
              remote: true,
              data: { confirm: "Are you sure?" } do
              %i.fa.fa-times
          .pull-right
            = "#{time_ago_in_words(comment.created_at)} ago"
        %p= comment.content
  %hr
