<div class="panel panel-default new-comment-panel">
	<%= form_for [@project.comments.new], :html => {:class => 'form-inline'} do |f| %>
		<div class="panel-body">
			<div class="form-group">
				<%= f.hidden_field :user_id, :value => current_user.id %>
				<%= f.hidden_field :project_id, :value => @project.id %>
				<%= f.text_area :content, :placeholder => "Type your project comment here...", class: "form-control new-comment-field", :required => true, :rows => "3" %>
			</div>
		</div>
		<div class="panel-footer">
			<div class="form-group">
				<%= f.submit "Post update", class: "btn btn-sm btn-primary pull-right" %>
			</div>
		</div>
	<% end %>
</div>

