<center>
	<%= form_for [@project.comments.new], :html => {:class => 'form-inline'} do |f| %>

		<div class="form-group">
			<%= f.hidden_field :user_id, :value => current_user.id %>
			<%= f.hidden_field :project_id, :value => @project.id %>
			<%= f.text_field :content, :placeholder => "Comment", class: "form-control input-sm", :required => true %>
			<%= f.submit "Add Comment", class: "btn btn-sm btn-primary" %>
		</div>

	<% end %>
</center>