<center>

	<%= form_for [@project.tasks.new], :html => {:class => 'form-inline add-task'} do |f| %>

		<div class="form-group">

			<i class="fa fa-level-up fa-rotate-90"></i>
			<div class="add-task-title"> Add <b>Task</b>:</div>
			<%= f.hidden_field :project_id, :value => @project.id, class: "form-control" %>
			<% if item %>
				<%= f.hidden_field :item_id, :value => item.id %>
			<% else %>
				<%= f.hidden_field :item_id, :value => nil %>
			<% end %>

			<%= f.text_field :name, :placeholder => "Task Name", class: "form-control input-sm add-task-name", :required => true %>

        	<%= f.date_field :due_date_date, class: "form-control input-sm" %>
        	<%= f.time_field :due_date_time, class: "form-control input-sm", :value => "17:00:00.000" %>

			<%= f.collection_select(:user_id, @project.users.uniq, :id , :name, {:required => true}, {:class => 'form-control input-sm add-task-user', :selected => current_user.name}) %>

			<%= f.submit "Add Task", class: "btn btn-sm btn-default" %>
			<% if item %>
			<button type="button" class="close pull-right" data-toggle="collapse" data-target="#item-<%= item.id %>-addTask">&times;</button>
			<% else %>
			<button type="button" class="close pull-right" data-toggle="collapse" data-target="#project-<%= @project.id %>-general-addTask">&times;</button>
			<% end %>


		</div>

	<% end %>

</center>