<center>

	<%= form_for [@project.tasks.new], :html => {:class => 'form-inline'} do |f| %>

		<div class="form-group" style="width: 100%;">
			<%= f.hidden_field :project_id, :value => @project.id, class: "form-control" %>
			<% if item %>
				<%= f.hidden_field :item_id, :value => item.id %>
			<% else %>
				<%= f.hidden_field :item_id, :value => nil %>
			<% end %>
			<%= f.text_field :name, :placeholder => "Task Name", class: "form-control input-sm", :required => true, style: "min-width: 60%;" %>
			<%= f.date_field :due_date, class: "form-control input-sm" %>
			<%= f.collection_select(:user_id, @project.users.uniq, :id , :name, {:required => true}, {:class => 'form-control input-sm' }) %>
			<%= f.submit "Add Task", class: "btn btn-sm btn-primary" %>
			<%= link_to "x".html_safe, 'javascript:;', "data-toggle" => "collapse", 'data-target' => '#addTask', style: "margin-left: 5px;" %>
		</div>
	<% end %>

</center>