%center

  - @project ||= item.project

  = form_for [@project, @project.tasks.new], html: { class: "form-inline add-task" }, remote: true do |f|

    .form-group
      %i.fa.fa-level-up.fa-rotate-90
      .add-task-title
        Add Task

      = f.hidden_field :item_id, value: item ? item.id : nil

      = f.text_field :name,
        placeholder: "Task Name",
        required: true,
        class: "form-control input-sm add-task-name"

      = f.collection_select :user_id, @project.users.uniq, :id, :name,
        { required: true, selected: current_user.id },
        { class: "form-control input-sm add-task-user" }

      = link_to "javascript:;",
        data: { toggle: "tooltip", placement: "bottom", title: "Add Due Date" },
        onclick: "$(this).hide(); $(this).siblings().show(); $(this).siblings('#addTask-timefield').hide();",
        class: "btn btn-sm btn-default" do
        %i.fa.fa-calendar

      = f.date_field :due_date_date,
        id: "addTask-datefield",
        class: "form-control input-sm",
        onchange: "$(this).siblings('#addTask-timefield').val('17:00:00.000');"

      = link_to "javascript:;",
        data: { toggle: "tooltip", placement: "bottom", title: "Add Due Time" },
        onclick: "$(this).hide(); $(this).siblings('#addTask-timefield').show();",
        id: "addTask-timeBtn",
        class: "btn btn-sm btn-default" do
        %i.fa.fa-clock-o

      = f.time_field :due_date_time,
        id: "addTask-timefield",
        class: "form-control input-sm"

      = f.submit "Add Task", class: "btn btn-sm btn-default"
                                  
      %button.close.pull-right{data: { target: "#item-#{ item ? item.id : 0 }-addTask", toggle: "collapse" }, type: "button"} &times;

