%li.task{class: "#{'task-late' if task.late? && !task.completed} #{'task-completed' if task.completed}", id: "task-#{task.id}"}

  .task-starred{style: "#{'visibility: hidden;' if task.completed}"}
    = link_to toggle_starred_project_task_path(task.project, task), method: :patch, remote: true do
      %i.fa{class: "#{task.starred ? 'fa-star' : 'fa-star-o'}"}

  = link_to toggle_completed_project_task_path(task.project, task),
    method: :patch,
    remote: true,
    disabled: task.user != current_user,
    class: "task-checkbox" do
    = check_box_tag "completed", 1, task.completed

  .task-name= task.name

  .task-user
    = "(#{task.user_name})" if task.user != current_user

  %ul.tools-dropdown
    %li.dropdown
      %a.dropdown-toggle{href: "#", data: { toggle: "dropdown" } }
        %i.fa.fa-angle-down
      %ul.dropdown-menu
        %li
          = link_to edit_project_task_path(task.project, task), remote: true do
            %i.fa.fa-pencil
        %li
          = link_to [task.project, task], method: :delete, data: { confirm: "Are you sure?" }, remote: true do
            %i.fa.fa-trash-o

  - if task.completed
    .task-date= " Completed #{print_date(task.completed_at, 's')}"
  - elsif task.due_date
    .task-date= " due #{print_date(task.due_date, 's')}"


