<% unless task.completed %>

	<% if task.due_date %>

		<li class="<%= 'task-late' if task.late? %>">
			<%= link_to '<i class="fa fa-square-o"></i>'.html_safe, complete_task_path(task), method: :post %>
			<%= content_tag :div, task.name, class: "task-name" %>
			<%= content_tag :div, " (#{print_date(task.due_date, "s")})", class: "task-date" %>
			<%= render partial: "tasks/tools", :locals => {:task => task} %>
		</li>

	<% else %>

		<li>
			<%= link_to '<i class="fa fa-square-o"></i>'.html_safe, complete_task_path(task), method: :post %>
			<%= content_tag :div, task.name, class: "task-name" %>
			<%= render partial: "tasks/tools", :locals => {:task => task} %>
		</li>

	<% end %>

<% else %>

	<li class="task-completed">
		<%= link_to '<i class="fa fa-check-square-o"></i>'.html_safe, uncomplete_task_path(task), method: :post %>
		<%= content_tag :div, task.name, class: "task-name" %>
		<%= content_tag :div, " (Completed #{print_date(task.completed_at, 's')})", class: "task-date" %>
		<%= render partial: "tasks/tools", :locals => {:task => task} %>
	</li>

<% end %>

<hr>