<li class="task <%= 'task-late' if task.late? && !task.completed %> <%= 'task-completed' if task.completed %>">

	<%= render partial: "tasks/starred", :locals => {:task => task} %>

	<%= render partial: "tasks/checkbox", :locals => {:task => task} %>

	<%= content_tag :div, task.name, class: "task-name" %>

	<%= content_tag :div, "(#{task.user.name})", class: "task-user" if task.user && (task.user != current_user) %>

	<%= render partial: "tasks/tools", :locals => {:task => task} %>

	<% if task.completed %>
		<%= content_tag :div, " Completed #{print_date(task.completed_at, 's')}", class: "task-date" %>
	<% else %>
		<%= content_tag :div, " due #{print_date(task.due_date, "s")}", class: "task-date" if task.due_date %>
	<% end %>

	<%= render partial: "tasks/edit", :locals => {:task => task } %>

</li>

<hr>