<div class="row"><div class="col-md-4 col-md-offset-4">

  <div class="panel panel-default">

    <div class="panel-heading"><h4><i class='fa fa-check-circle'></i> Edit Task</h4></div>

    <div class="panel-body">
      <%= form_for(@task) do |f| %>

        <fieldset>

          <div class="form-group">
            <%= f.text_field :name, :placeholder => "Task Name", class: "form-control", :required => true %>
          </div>

          <div class="form-group">
            <%= f.datetime_local_field :due_date, class: "form-control" %>
          </div>


          <div class="form-group">
            <%= f.collection_select(:user_id, @task.project.users.uniq, :id , :name, {:required => true}, {:class => 'form-control input-sm' }) %>
          </div>

          <hr>

          <%= f.submit "Save", class: "btn btn-md btn-success btn-block" %>

        </fieldset>

      <% end %>

    </div>

  </div>

</div></div>
