<div class="panel panel-default">

  <div class="panel-heading"><h4><i class="fa fa-check-circle"></i> Tasks</h4></div>

  <div class="panel-body">

    <div class="tasks-list">

      <% @tasks.due.group_by {|t| t.due_date.to_date }.each do |date, tasks_by_date| %>

        <h4><%= print_time_ago(date) %><font color='#999'> <%= "(#{print_date(date, 'l')})".html_safe %></font></h4><hr>

        <%  tasks_by_date.group_by { |t| t.project }.each do |project, tasks| %>
          <div class="title-sm"><%= link_to "[#{project.product.name}] #{project.name.upcase}", project %></div>
          <ul><%= render tasks %></ul>
        <% end %>

        <br>

      <% end %>

      <% if @tasks.notDue.exists? %>

        <h4><font color="#999">no due date</font></h4><hr>
        <% @tasks.notDue.group_by { |t| t.project }.each do |project, tasks| %>
          <div class="title-sm"><%= link_to "[#{project.product.name}] #{project.name.upcase}", project %></div>
          <ul><%= render tasks %></ul>
        <% end %>

        <br>

      <% end %>

    </div>

  </div>

</div>
