<div class="col-md-12">
  <div class="panel panel-default tasks-index-panel">

    <div class="panel-heading"><h4><i class="fa fa-check-circle"></i> My Tasks</h4></div>

    <div class="panel-body">

      <% @tasks.due.group_by {|t| t.due_date.to_date }.each do |date, tasks_by_date| %>

        <div class="tasks-index-date"><%= print_time_ago(date) %></div>
        <hr>

        <% tasks_by_date.group_by { |t| t.project }.each do |project, tasks_by_projects| %>
          <div class="title-sm"><%= link_to "[#{project.product_name}] #{project.name.upcase}", project %></div>
          <ul class="tasks-list">
            <% tasks_by_projects.group_by { |t| t.starred }.each do |starred, tasks| %>
              <%= render tasks %>
            <% end %>
          </ul>
        <% end %>

        <br>

      <% end %>

      <% if @tasks.notDue.exists? %>

        <div class="tasks-index-date">no due date</div>
        <hr>

        <% @tasks.notDue.group_by { |t| t.project }.each do |project, tasks_by_projects| %>
          <div class="title-sm"><%= link_to "[#{project.product_name}] #{project.name.upcase}", project %></div>
          <ul class="tasks-list">
            <% tasks_by_projects.group_by { |t| t.starred }.each do |starred, tasks| %>
              <%= render tasks %>
            <% end %>
          </ul>
        <% end %>

        <br>

      <% end %>


    </div>

  </div>
</div>
