.col-md-12
 
  .panel.panel-default

    .panel-heading
      %h4
        %i.fa.fa-users
          Team
          
    .panel-body

      %table.table.table-hover.table-responsive
        %thead
          %tr
            %th
            %th Name
            %th.text-center Status
            %th Email
            %th.text-center Join Date
            %th.text-center Last Sign In
            %th.text-center Actions

        %tbody
          - @users.each do |user|
            %tr
              %td
                = image_tag user.profile_photo.url(:small), class: "project-user-photo"
              %td= user.name
              %td.text-center
                - if user.confirmed?
                  %span.label.label-success Confirmed
                - else
                  %span.label.label-default Not Confirmed
              %td= user.email
              %td.text-center= user.created_at.strftime("%D")
              %td.text-center= user.last_sign_in_at ? "#{time_ago_in_words(user.last_sign_in_at)} ago" : "Never"
              %td

