<div class="panel panel-default">

  <div class="panel-heading">
    <h4><i class="fa fa-users"></i> Team
  </div>

  <div class="panel-body">

    <% for user in @users %>

      <h4><i class="fa fa-user" style="color: #666"></i> <%= link_to user.name, user %> <%= "<font color=#999>(#{user.email})</font>".html_safe %></h4>

      <table class="table">
        <thead>
          <tr>
          	<th>Product</th>
            <th>Project</th>
            <th>Start Date</th>
            <th>Due Date</th>
            <th>End Date</th>
            <th>Status</th>
          </tr>
        </thead>

        <tbody>
          <% user.projects.uniq.each do |project| %>
            <tr>
              <td><%= link_to project.product.name, project.product %></td>
              <td><%= link_to project.name, project %></td>
              <td><%= project.created_at.strftime("%x") if project.created_at %></td>
              <td><%= project.due_date.strftime("%x") if project.due_date %></td>
              <td><%= project.end_date.strftime("%x") if project.end_date %></td>
              <td><%= project.status %></td>
            </tr>
          <% end %>
        </tbody>


      </table>

      <hr><br><br>

    <% end %>

  </div>

</div>


<br>