
<div class="panel panel-default user-profile">

	<div class="panel-heading">
		<br>
		<%= image_tag @user.profile_photo.url(:thumb), class: "profile-photo" %><br>
		<h3><%= @user.name %></h3>
		<h5><%= @user.email %></h5>
	</div>


</div>


<div class="panel panel-default">

	<div class="panel-heading">
		<h4><i class="fa fa-refresh"></i></span>
			Current Projects (<%= @user.projects.incomplete.uniq.count %>)</h4>
	</div>

	<div class="panel-body">
		<%= render partial: "users/projects_table", :locals => {:projects => @user.projects.incomplete.uniq} %>
	</div>

</div>

<div class="panel panel-default">
	<div class="panel-heading">
		<h4><i class="fa fa-check-circle"></i>
			Completed Projects (<%= @user.projects.completed.uniq.count %>)</h4>
	</div>

	<div class="panel-body">
		<%= render partial: "users/projects_table", :locals => {:projects => @user.projects.completed.uniq} %>
	</div>

</div>

