<div class="panel panel-default">

	<div class="panel-heading">
		<h3><%= @user.name %></h3>
	</div>

	<div class="panel-body">
		<div class="user-info">
			<p>

		<% if current_user.profile_photo %>
			<%= image_tag current_user.profile_photo.url(:thumb), class: "profile-photo" %>
		<% else %>
			<%= image_tag "turtle75.jpg", class: "profile-photo" %>
		<% end %>

				<i class="fa fa-envelope"></i> <%= @user.email %><br>
				<i class="fa fa-key"></i> Last Sign-In: <%= time_ago_in_words(@user.last_sign_in_at) %><br>
				<i class="fa fa-user-md"></i> Admin: <%= @user.admin %>
			</p>
		</div>
	</div>

</div>

<hr>

<div class="panel panel-default">

	<div class="panel-heading">
		<h4><i class="fa fa-folder-o"></i> Current Projects (<%= @user.projects.incomplete.uniq.count %>)</h4>
	</div>

	<div class="panel-body">
		<%= render partial: "users/projects_table", :locals => {:projects => @user.projects.incomplete.uniq} %>
	</div>

</div>

<div class="panel panel-default">
	<div class="panel-heading">
		<h4><i class="fa fa-folder"></i> Previous Projects (<%= @user.projects.completed.uniq.count %>)</h4>
	</div>

	<div class="panel-body">
		<%= render partial: "users/projects_table", :locals => {:projects => @user.projects.completed.uniq} %>
	</div>

</div>