<div class="col-md-12">

	<div class="panel panel-default user-profile">

		<div class="panel-heading">
			<br>
			<%= image_tag @user.profile_photo.url(:thumb), class: "profile-photo" %><br>
			<h3><%= @user.name %></h3>
			<h5><%= @user.email %></h5>
		</div>

	</div>

	<div id="modals"></div>

	<div class="panel panel-default">

		<div class="panel-heading">
			<h4><i class="fa fa-refresh"></i></span>
				Active Projects (<%= @projects.incomplete.uniq.count %>)
				<%= link_to "New Project", "javascript:void(0)", class: "btn btn-sm btn-default pull-right", style: "margin-top: -5px;", :"data-toggle" => "modal", :"data-target" => "#new_project_modal" %>
			</h4>

			<%= render "projects/new", :project => @project %>
		</div>

		<div class="panel-body">
			<%= render "projects/active_projects", :projects => @projects.incomplete.priority_sort %>
		</div>

	</div>

	<div class="panel panel-default">
		<div class="panel-heading">
			<h4><i class="fa fa-check-circle"></i>
				Completed Projects (<%= @projects.completed.uniq.count %>)</h4>
		</div>

		<div class="panel-body">
			<%= render "projects/completed_projects", :projects => @projects.completed.completed_sort %>
		</div>

	</div>

</div>

