<h2><i class="fa fa-tasks"></i> Dashboard</h2>

<hr>

<div class="panel panel-default">

	<div class="panel-heading">
		<h4><i class="fa fa-check-circle"></i> Tasks</h4>
	</div>

	<div class="panel-body">


		<div class="tasks-list">

			<% if @tasks.notDue.exists? %>

				<h4>no due date</h4><hr>

				<% @tasks.notDue.group_by { |t| t.project }.each do |project, tasks| %>

					<div class="title-sm"><%= link_to project.name.upcase, project %></div>

					<ul>
						<% for task in tasks %>
							<li><%= render partial: "tasks/show", :locals => {:task => task} %></li>
							<hr>
						<% end %>
					</ul>

				<% end %>

				<br>

			<% end %>

			<% @tasks.due.group_by {|t| t.due_date.to_date }.each do |date, tasks_by_date| %>

				<h4>due in <%= time_ago_in_words(date) %><font color='#999'> <%= "(#{date.strftime('%x')})".html_safe %></font></h4><hr>

				<%	tasks_by_date.group_by { |t| t.project }.each do |project, tasks| %>

					<div class="title-sm"><%= link_to project.name.upcase, project %></div>

					<ul>
						<% for task in tasks %>
							<li><%= render partial: "tasks/show", :locals => {:task => task} %></li>
							<hr>
						<% end %>
					</ul>

				<% end %>

				<br>

			<% end %>

		</div>

	</div>

</div>
