<table class="table projects-table">

	<thead>
		<tr>
			<th width="2%"><i class="fa fa-star" style="color: #666;" %></i></th>
       	<th width="16%">Product</th>
         <th width="26%">Project</th>
         <th width="4%" class="text-center"><i class="fa fa-file-image-o"></i></th>
         <th width="12%">Assigned By</th>
         <th width="10%">Assigned</th>
         <th width="8%" class="text-center">Start Date</th>
         <th width="8%" class="text-center">End Date</th>
         <th width="13%" class="text-center">Status</th>
         <th width="1%"></th>
    	</tr>
	</thead>

	<tbody>
		<% for project in projects %>
			<tr>
				<td></td>
				<td><%= link_to project.product_name, project.product %></td>
				<td><%= link_to project.name, project %></td>
				<td class="text-center" style="color: #888;"><%= project.items.count %></td>
				<td><%= project.assigned_by %></td>
				<td>
					<% if project.has_users %>
						<% for u in project.users.uniq %>
							<%= render "users/photo", :user => u %>
						<% end %>
					<% else %>
						None
					<% end %>
				</td>
				<td class="text-center"><%= print_date(project.created_at, "s") %></td>
				<td class="text-center"><%= print_date(project.end_date, "s") if project.end_date %></td>
				<td class="text-center"><%= render "projects/status", :project => project %></td>
				<td class="edit-cog"><%= link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_project_path(project), remote: true %></td>
			</tr>
		<% end %>
	</tbody>

</table>



