<div class="project-info" style="line-height: 200%">
	<div class="row" style="margin-top: 0px;">

		<div class="col-md-4">
			<i class="fa fa-flag"></i> <b>Priority:</b> <%= if project.priority == 3 then "High" elsif project.priority == 2 then "Medium" elsif project.priority == 1 then "Low" else "None" end %>
		</div>

		<div class="col-md-4">
		</div>

		<div class="col-md-4">
			<i class="fa fa-refresh"></i> <b>Status:</b> <%= project.status %>
		</div>


		<div class="col-md-4">
			<i class="fa fa-calendar"></i> <b>Start Date:</b> <%= print_date(project.created_at, "m") %>
		</div>

		<div class="col-md-4">
			<i class="fa fa-calendar"></i> <b>Due Date:</b> <%= project.due_date ? print_date(project.due_date, "m") : "n/a"  %>
		</div>

		<div class="col-md-4">
			<i class="fa fa-calendar"></i> <b>End Date:</b> <%= project.end_date ?  print_date(project.end_date, "m") : "n/a" %>
		</div>



		<div class="col-md-8">
			<i class="fa fa-user"></i> <b>Assigned:</b> <%= project.users.first ? project.users.uniq.map {|u| u.name}.join(", ") : "None" %>
		</div>

		<div class="col-md-4">
			<i class="fa fa-user"></i> <b>Assigned By:</b> <%= project.assigned_by %>
		</div>

		<div class="col-md-12" style="line-height: 150%"><br><b>Description:</b> <font color="#666"><%= project.description %></font><hr></div>

		<div class="col-md-12">
			<div class="progress active">
				<div class="progress-bar"  role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: <%= project.progress_percent %>%"><span><%= project.progress_percent %>% Complete</span></div>
			</div>
		</div>

	</div>
</div>
