%tr{id: "project_#{project.id}"}

  %td
    .project-starred
      =link_to project_path(project, project: { starred: project.starred.! }), method: :patch do
        %i.fa{class: "#{project.starred ? 'fa-star' : 'fa-star-o'}"} 

  %td= project.product_name

  %td= link_to project.name, project

  %td= project.assigned_by

  %td= render project.users.uniq

  %td.text-center= project.created_at.strftime("%D")

  %td.text-center
    - if project.end_date
      = project.end_date.strftime("%D")
    - else
      = project.due_date.strftime("%D") if project.due_date

  %td.text-center
    %span.label{class: "label-#{status_hash[project.status]["type"]}", style: "padding: 5px 10px;"}
      %i.fa.fa-fw{class: "fa-#{status_hash[project.status]["icon"]}"}
      = project.status

  %td.text-center
    = link_to edit_project_path(project), class: "button btn btn-xs btn-warning", remote: true do
      %i.fa.fa-pencil

