.btn-group.project-status
  %button.btn.btn-xs.btn-title.dropdown-btn{type: "button", class: "btn-#{status_label(project.status)}"}
    %i.fa.fa-fw{class: "fa-#{status_icon(project.status)}"}
    = project.status

  %button.btn.btn-xs.dropdown-toggle.dropdown-btn{type: "button", class: "btn-#{status_label(project.status)}", data: { toggle: "dropdown" }}
    %span.caret
    %span.sr-only Toggle Dropdown

  %ul.dropdown-menu.pull-right{role: "menu"}

    - statuses.each do |status_name|
      = link_to project_path(project, project: { status: status_name }), method: :patch do
        %li.dropdown-menu-item
          %i.fa.fa-caret-right{style: "#{'visibility: hidden' unless project.status == status_name}"}
          = status_name
