<table class="table projects-table">

	<thead>
		<tr>
			<th width="2%"><i class="fa fa-star" style="color: #666;" %></i></th>
       	<th width="13%">Product</th>
         <th width="23%">Project</th>
         <th width="12%">Assigned By</th>
         <th width="12%">Assigned</th>
         <th width="8%" style="text-align: center;">Start Date</th>
         <th width="8%" style="text-align: center;">Due Date</th>
         <th width="8%" style="text-align: center;">End Date</th>
         <th width="13%" style="text-align: center;">Status</th>
         <th width="1%"></th>
    	</tr>
	</thead>

	<tbody>
		<% for project in projects %>
			<tr>
				<td><%= render partial: "projects/starred", :locals => {:project => project} %></td>
				<td><%= link_to project.product.name, project.product %></td>
				<td><%= link_to project.name, project %></td>
				<td><%= project.assigned_by %></td>
				<td>
					<% if project.users.first %>
						<% for u in project.users.uniq %>
							<%= link_to u, :class => "has_tooltip", :title => u.name, :"data-toggle" => "tooltip", :"data-placement" => "bottom" do %>
								<%= image_tag u.profile_photo.url(:small), class: "project-user-photo" %>
							<% end %>
						<% end %>

					<% else %>
						None
					<% end %>
				</td>
				<td style="text-align: center;"><%= print_date(project.created_at, "s") %></td>
				<td style="text-align: center;" <%= "class=late" if project.isLate %>>
					<%= print_date(project.due_date, "s") if project.due_date %>
				</td>
				<td style="text-align: center;"><%= print_date(project.end_date, "s") if project.end_date %></td>
				<td style="text-align: center;"><%= render partial: "projects/status", :locals => {:project => project} %></td>
				<td class="edit-cog"><%= link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_project_path(project) %></td>
			</tr>
		<% end %>
	</tbody>

</table>



