<h4>
	<%= link_to '<i class="fa fa-star" style="color: #ffd76e;"></i>'.html_safe, toggle_starred_project_path(project), method: :post if project.starred %>
	<%= link_to '<i class="fa fa-star-o" style="color: #999;"></i>'.html_safe, toggle_starred_project_path(project), method: :post unless project.starred %>

	<%= link_to "[#{project.product.name}] #{project.name}", project %>

	<%= render partial: "projects/tools", :locals => {:project => project} %>

	<div class="project-status">
		<%= "<span class='label label-info'><i class='fa fa-list-ol'></i> In Queue</span>".html_safe if project.status == "In Queue" %>
		<%= "<span class='label label-warning'><i class='fa fa-refresh'></i> In Progress</span>".html_safe if project.status == "In Progress" %>
		<%= "<span class='label label-default'><i class='fa fa-pause'></i> On Hold</span>".html_safe if project.status == "On Hold" %>
		<%= "<span class='label label-danger'><i class='fa fa-times-circle'></i> Cancelled</span>".html_safe if project.status == "Cancelled" %>
		<%= "<span class='label label-success'><i class='fa fa-check-circle'></i> Completed</span>".html_safe if project.status == "Completed" %>
	</div>

</h4>