<h2><i class="fa fa-folder-o"></i> Projects<%= link_to 'New Project', new_project_path, class: "btn btn-sm btn-success", style: "float: right;" %></h2>

<hr>

<% for project in @projects %>

	<div class="panel panel-default">
		<div class="panel-heading">

			<h4>
				<%= link_to "[#{project.product.name}] #{project.name}", project %>

				<%= render partial: "projects/tools", :locals => {:project => project} %>

			</h4>

			<div class="project-info" style="line-height: 250%">
				<div class="row" style="margin-top: 0px;">
					<div class="col-md-4"><i class="fa fa-calendar"></i> <%= project.due_date.strftime("%B %-m, %Y") if project.due_date %></div>
					<div class="col-md-4"><i class="fa fa-user"></i> <%= if project.users.first then project.users.uniq.map {|u| u.name}.join(", ") end %></div>
					<div class="col-md-4"><i class="fa fa-refresh"></i> <%= project.status %></div>

					<div class="col-md-12"><i class="fa fa-code"></i> <%= project.description %></div>
				</div>
			</div>

		</div>

		<div class="panel-body">

			<div class="tasks-list">
				<ul><%= render project.tasks.incomplete %></ul>
			</div>

		</div>

	</div>

<% end %>