<div class="col-md-12">

	<div class="panel panel-default user-profile">

		<div class="panel-heading">
			<br>
			<%= image_tag current_user.profile_photo.url(:thumb), class: "profile-photo" %><br>
			<h3><%= current_user.name %></h3>
			<h5><%= current_user.email %></h5>
		</div>

	</div>

	<div class="panel panel-default">

		<div class="panel-heading">
			<h4><i class="fa fa-refresh"></i></span>
				Current Projects (<%= current_user.projects.incomplete.uniq.count %>)
			<%= link_to "New Project", new_project_path, class: "btn btn-sm btn-default pull-right", style: "margin-top: -5px;" %>
			</h4>
		</div>

		<div class="panel-body">
			<%= render partial: "projects/table", :locals => {:projects => current_user.projects.incomplete.custom_sort} %>
		</div>

	</div>

	<div class="panel panel-default">
		<div class="panel-heading">
			<h4><i class="fa fa-check-circle"></i>
				Completed Projects (<%= current_user.projects.completed.uniq.count %>)</h4>
		</div>

		<div class="panel-body">
			<%= render partial: "projects/table", :locals => {:projects => current_user.projects.completed.custom_sort} %>
		</div>

	</div>

</div>

