<div class="row"><div class="col-md-6 col-md-offset-3">

  <div class="panel panel-default">

    <div class="panel-heading"><h4><i class='fa fa-folder'></i> New Project</h4></div>

    <div class="panel-body">

      <%= form_for(@project) do |f| %>



        <fieldset>

          <div class="form-group">
             <%= f.collection_select(:product_id, Product.all.sort_by {|p| p.name.downcase }, :id , :name, {:include_blank => true}, {:class => 'form-control' }) %>
          </div>


          <div class="form-group">
            <%= f.text_field :name, :placeholder => "Project Name", class: "form-control", :autofocus => true %>
          </div>

          <div class="form-group">
            <%= f.text_area :description, :placeholder => "Description", class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.datetime_local_field :due_date, class: "form-control" %>
          </div>

          <hr>

          <div class="form-group">
            <%= f.text_field :assigned_by, :placeholder => "Assigned By", class: "form-control" %>
          </div>


          <div class="form-group">
            <b>Users assigned:</b><br>
           <%  User.all.each_with_index do |user,idx| %>
            <%= check_box_tag "project[assignments_attributes][#{idx}][user_id]", user.id, @project.user_ids.include?(user.id) %>
            <%= user.name %>
            <br>
          <% end %>
          </div>


          <%= f.submit "Add Project", class: "btn btn-md btn-success btn-block" %>

        </fieldset>

      <% end %>

    </div>

  </div>

</div></div>