<div class="col-md-12">
	<div class="panel panel-default">

		<div class="panel-heading">
			<h4>
				<%= render partial: "projects/starred", :locals => {:project => @project} %>

				<%= link_to "[#{@project.product.name}]", @project.product %> <%= link_to "#{@project.name}", @project %>


				<%= link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_project_path(@project), class: "pull-right", style: "margin: 3px; padding-left: 10px;" %>

				<div class="pull-right">
					<%= render partial: "projects/status", :locals => {:project => @project} %>
				</div>

			</h4>
		</div>

		<div class="panel-body">
			<div class="project-info" style="line-height: 200%">
				<div class="row" style="margin-top: 0px;">


					<div class="col-md-4">
						<i class="fa fa-calendar"></i>
						<b>Start Date:</b> <%= print_date(@project.created_at, "xl") %>
					</div>

					<div class="col-md-4">
						<i class="fa fa-calendar"></i> <b>Due Date:</b> <%= @project.due_date ? print_date(@project.due_date, "xl") : "n/a"  %>
					</div>

					<div class="col-md-4">
						<i class="fa fa-calendar"></i> <b>End Date:</b> <%= @project.end_date ?  print_date(@project.end_date, "xl") : "n/a" %>
					</div>



					<div class="col-md-8">
						<i class="fa fa-user"></i> <b>Assigned:</b> <%= @project.users.first ? @project.users.uniq.map {|u| u.name}.join(", ") : "None" %>
					</div>

					<div class="col-md-4">
						<i class="fa fa-user"></i> <b>Assigned By:</b> <%= @project.assigned_by %>
					</div>

					<div class="col-md-12" style="line-height: 150%"><br><b>Description:</b><br><font color="#777"><%= @project.description.gsub(/\n/, '<br>').html_safe %></font><br><br></div>


				</div>
			</div>

		</div>

	</div>
</div>


<div class="col-md-12">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4>
				<i class="fa fa-comment"></i> Updates (<%= @project.comments.count %>)
				<%= link_to "<i class='fa fa-plus'></i>".html_safe, 'javascript:;', "data-toggle" => "collapse", 'data-target' => '#addComment', class: "btn btn-xs btn-primary", style: "float: right;" %>
			</h4>
		</div>
		<div class="panel-body">
			<%= render @project.comments %>
			<div id="addComment" class="collapse"><%= render partial: "comments/new" %></div>
		</div>
	</div>
</div>


<% if false %>
<div class="col-md-12">

	<div class="panel panel-default">

		<div class="panel-heading">
			<h4><i class="fa fa-check-circle"></i> Tasks (<%= @project.tasks.incomplete.count %>)
				<%= link_to "<i class='fa fa-plus'></i>".html_safe, 'javascript:;', "data-toggle" => "collapse", 'data-target' => '#addTask', class: "btn btn-xs btn-primary", style: "float: right;" %>
			</h4>
		</div>

		<div class="panel-body">

			<div class="tasks-list">

				<div id="addTask" class="collapse"><%= render partial: "tasks/new", :locals => {:item => nil} %><br><hr></div>
				<%= content_tag :div, "Remaining Tasks", class: "title-sm", style: "color: #333; margin-bottom: 4px;" %>

				<ul>
					<%= render @project.tasks.incomplete.due.order("starred DESC, due_date") %>
					<%= render @project.tasks.incomplete.notDue.order("starred DESC, created_at") %>
				</ul>

			</div>

			<hr>

			<div class="tasks-list">
				<%= content_tag :div, "Completed Tasks", class: "title-sm" %>
				<ul><%= render @project.tasks.completed.order("completed_at") %></ul>
			</div>

		</div>

	</div>

</div>
<% end %>

<div class="col-md-12">

	<div class="panel panel-default">
		<div class="panel-heading">
			<h4>
				<i class="fa fa-check-circle"></i> Tasks (<%= @project.tasks.incomplete.count %>)
				<%= link_to "<i class='fa fa-plus'></i>".html_safe, 'javascript:;', "data-toggle" => "collapse", 'data-target' => '#addItem', class: "btn btn-xs btn-primary", style: "float: right;" %>
			</h4>
		</div>

		<div class="panel-body">


				<ul class="items-list">

					<li>
						<h4>General</h4><hr>
						<%= content_tag :div, "Remaining Tasks", class: "title-sm", style: "color: #333; margin-bottom: 4px;" %>
						<ul>
							<%= render @project.tasks.general.incomplete.due.order("starred DESC, due_date") %>
							<%= render @project.tasks.general.incomplete.notDue.order("starred DESC, created_at") %>
						</ul>
						<% if false %><%= render partial: "tasks/new", :locals => {:item => item} %><% end %>
					</li>

					<%= render partial: "tasks/new", :locals => {:item => nil} %><br>

					<% if @project.tasks.general.completed.count > 0 %>
						<div class="tasks-list">
							<%= content_tag :div, "Completed Tasks", class: "title-sm" %>
							<ul><%= render @project.tasks.general.completed.order("completed_at") %></ul>
						</div>
					<% end %>



				</ul>


				<ul class="items-list"><%= render @project.items %></ul><hr>
				<div id="addItem" class="collapse"><%= render partial: "items/new" %></div>



		</div>

	</div>

</div>

