<div class="panel panel-default">

	<div class="panel-heading">
		<h3>
			<%= if @project.product then "[#{@project.product.name}] #{@project.name}" else "#{@project.name}" end %>
				<%= render partial: "projects/tools", :locals => {:project => @project} %>
		</h3>
	</div>

	<div class="panel-body">
		<div class="project-info" style="line-height: 250%;">
			<p>
				<div class="col-md-4"><i class="fa fa-calendar"></i> <%= @project.due_date.strftime("%B %-m, %Y") if @project.due_date %></div>
				<div class="col-md-4"><i class="fa fa-user"></i> <%= link_to current_user.name, current_user %></div>
				<div class="col-md-4"><i class="fa fa-refresh"></i> <%= @project.status %></div>

				<div class="col-md-12"><i class="fa fa-code"></i> <%= @project.description %></div>
			</p>
		</div>
	</div>

</div>

<hr>

<div class="panel panel-default">

	<div class="panel-heading">
		<h4><i class="fa fa-check-circle"></i> Tasks (<%= @project.tasks.incomplete.count %>)</h4>
	</div>

	<div class="panel-body">

		<div class="tasks-list">
			<ul><%= render @project.tasks.incomplete %></ul>

			<%= link_to '<i class="fa fa-plus"></i> Add Task'.html_safe, 'javascript:;', "data-toggle" => "collapse", 'data-target' => '#addTask', class: "add-task" %>

		</div>

		<div id="addTask" class="collapse">
			<%= form_for [@project.tasks.new], :html => {:class => 'form-inline'} do |f| %>
			<div class="form-group">
				<%= f.hidden_field :project_id, :value => @project.id, class: "form-control"%>
				<%= f.text_field :name, :placeholder => "Task", class: "form-control" %>
				<%= f.date_field :due_date, class: "form-control" %>
				<%= f.submit "Add Task", class: "btn btn-md btn-success" %>
			</div>
			<% end %>
		</div>

		<hr>

		<div class="tasks-list">
			<ul class="completed"><%= render @project.tasks.completed %></ul>
		</div>

	</div>

</div>
