<div class="col-md-12">
	<div class="panel panel-default">

		<div class="panel-heading">
			<%= render partial: "projects/title", :locals => {:project => @project} %>
		</div>

		<div class="panel-body">
			<%= render partial: "projects/info", :locals => {:project => @project} %>
		</div>

	</div>
</div>

<div class="col-md-12">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4>
				<i class="fa fa-comment"></i> Updates (<%= @project.comments.count %>)
				<%= link_to "<i class='fa fa-plus'></i>".html_safe, 'javascript:;', "data-toggle" => "collapse", 'data-target' => '#addComment', class: "btn btn-xs btn-primary", style: "float: right;" %>
			</h4>
		</div>
		<div class="panel-body">
			<%= render @project.comments %>
			<div id="addComment" class="collapse"><%= render partial: "comments/new" %></div>
		</div>
	</div>
</div>



  <div class="col-md-8">

		<div class="panel panel-default">

			<div class="panel-heading">
				<h4><i class="fa fa-check-circle"></i> Tasks (<%= @project.tasks.incomplete.count %>)
					<%= link_to "<i class='fa fa-plus'></i>".html_safe, 'javascript:;', "data-toggle" => "collapse", 'data-target' => '#addTask', class: "btn btn-xs btn-primary", style: "float: right;" %>
				</h4>
			</div>

			<div class="panel-body">



				<div class="tasks-list">

					<div id="addTask" class="collapse"><%= render partial: "tasks/new" %><br><hr></div>
					<%= content_tag :div, "Remaining Tasks", class: "title-sm", style: "color: #333;" %>
					<ul>
						<%= render @project.tasks.incomplete.due.order("due_date") %>
						<%= render @project.tasks.incomplete.notDue.order("created_at") %>
					</ul>

				</div>

				<hr>

				<div class="tasks-list">
					<%= content_tag :div, "Completed Tasks", class: "title-sm" %>
					<ul><%= render @project.tasks.completed %></ul>
				</div>

			</div>

		</div>

	</div>

	<div class="col-md-4">

		<div class="panel panel-default">
			<div class="panel-heading">
				<h4>
					<i class="fa fa-picture-o"></i> Items (<%= @project.items.count %>)
					<%= link_to "<i class='fa fa-plus'></i>".html_safe, 'javascript:;', "data-toggle" => "collapse", 'data-target' => '#addItem', class: "btn btn-xs btn-primary", style: "float: right;" %>
				</h4>
			</div>

			<div class="panel-body">
				<div class="items-list">
					<ul><%= render @project.items %></ul><hr>
					<div id="addItem" class="collapse"><%= render partial: "items/new" %></div>


				</div>

			</div>

		</div>

	</div>

