<div class="col-md-12">
	<div class="panel panel-default">

		<div class="panel-heading">
			<h4>
				<%= render partial: "projects/starred", :locals => {:project => @project} %>

				<%= link_to "[#{@project.product.name}]", @project.product %> <%= link_to "#{@project.name}", @project %>

				<div class="pull-right">
					<%= render partial: "projects/status", :locals => {:project => @project} %>
				</div>

			</h4>
		</div>
	</div>

</div>

<div class="col-md-8">


	<div class="panel panel-default">
		<div class="panel-heading">
			<h4>
				Tasks
				<%= link_to "Add Item".html_safe, 'javascript:;', "data-toggle" => "collapse", 'data-target' => '#addItem', class: "btn btn-sm btn-primary", style: "float: right;" %>
			</h4>
		</div>

		<div class="panel-body">



			<div id="addItem" class="collapse"><%= render partial: "items/new" %><hr></div>


				<ul class="items-list">

					<li>
						<h4>General
							<%= link_to "Add Task".html_safe, 'javascript:;', "data-toggle" => "collapse", 'data-target' => "#project-#{@project.id}-general-addTask", class: "btn btn-info btn-xs pull-right", style: "margin-right: 25px;" %>
						</h4><hr>

						<% if @project.tasks.general.incomplete.count > 0 %>
							<%= content_tag :div, "Remaining Tasks (#{@project.tasks.general.incomplete.count})", class: "title-sm", style: "color: #333; margin-bottom: 4px;" %>
							<ul>
								<%= render @project.tasks.general.incomplete.due.order("starred DESC, due_date") %>
								<%= render @project.tasks.general.incomplete.notDue.order("starred DESC, created_at") %>
							</ul>
						<% end %>
					</li>

					<div class="collapse" id="project-<%= @project.id %>-general-addTask"><%= render partial: "tasks/new", :locals => {:item => nil} %><br></div>

					<% if @project.tasks.general.completed.count > 0 %>
						<div class="tasks-list">
							<%= content_tag :div, "Completed Tasks (#{@project.tasks.general.completed.count})", class: "title-sm" %>
							<%= link_to "<i class='fa fa-eye'></i>".html_safe, 'javascript:;', "data-toggle" => "collapse", 'data-target' => "#project-#{@project.id}-general-completedTasks" %>
							<ul class="tasks-list collapse" id="project-<%= @project.id %>-general-completedTasks"><%= render @project.tasks.general.completed.order("completed_at") %></ul>
						</div>
						<br>
					<% end %>



				</ul>


				<ul class="items-list"><%= render @project.items.order("created_at") %></ul>



		</div>

	</div>

</div>

<div class="col-md-4">

	<div class="panel panel-default">
		<div class="panel-heading">
			<h4>
				Details
				<%= link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_project_path(@project), class: "pull-right", style: "margin: 3px; padding-left: 10px;" %>
			</h4>
		</div>
		<div class="panel-body" style="line-height: 200%">
			<div class="col-md-4" style="padding-left: 0px;"><b>Start Date:</b></div>
			<div class="col-md-8"><i class="fa fa-calendar" style="margin-right: 5px; color: #999;"></i> <%= print_date(@project.created_at, "xl") %></div>

			<div class="col-md-4" style="padding-left: 0px;"><b>Due Date:</b></div>
			<div class="col-md-8">
				<% if @project.due_date %>
					<i class="fa fa-calendar" style="margin-right: 5px; color: #999;"></i> <%= print_date(@project.due_date, "xl") %>
				<% else %>
					<i>No Due Date</i>
				<% end %>
			</div>

			<div class="col-md-4" style="padding-left: 0px;"><b>End Date:</b></div>
			<div class="col-md-8">
				<% if @project.end_date %>
					<i class="fa fa-calendar" style="margin-right: 5px; color: #999;"></i> <%= print_date(@project.end_date, "xl") %>
				<% else %>
					<i style="color: #999">Incomplete</i>
				<% end %>
			</div>


			<div class="col-md-12"><hr></div>

			<div class="col-md-4" style="padding-left: 0px;"><b>Assigned By:</b></div>
			<div class="col-md-8"><%= @project.assigned_by %></div>

			<div class="col-md-4" style="padding-left: 0px; padding-top: 4px;"><b>Assigned:</b></div>
			<div class="col-md-8">
				<% if @project.users.first %>
					<% for u in @project.users.uniq %>
						<%= link_to u, :style => "line-height: 250%;" do %>
							<%= image_tag u.profile_photo.url(:small), class: "project-user-photo", style: "margin-right: 8px;" %>
							<%= u.name %>
						<% end %>
						<br>
					<% end %>
				<% else %>
					<i style="color: #999">No one</i>
				<% end %>

			</div>

			<div class="col-md-12"><hr></div>

			<div style="line-height: 150%; text-align: justify;"><b>Description:</b><br><font color="#777"><%= @project.description.gsub(/\n/, '<br>').html_safe %></font><br><br></div>

		</div>
	</div>

	<%= render partial: "comments/new" %>

	<div class="panel panel-default">
		<div class="panel-heading">
			<h4>Updates</h4>
		</div>
		<div class="panel-body">
			<%= render @project.comments.order('created_at DESC') %>
		</div>
	</div>

</div>


