.col-md-8

  .panel.panel-default.project-tasks-panel
    .panel-heading
      %h4
        .project-starred
          =link_to project_path(@project, project: { starred: @project.starred.! }), method: :patch, remote: true do
            %i.fa{class: "#{@project.starred ? 'fa-star' : 'fa-star-o'}"} 
        = link_to "[#{@project.product_name}]", @project.product
        = @project.name

        %button.btn.btn-sm.btn-default.pull-right{data: { toggle: "collapse", target: "#addItem" }}
          Add Item

    .panel-body
      #addItem.collapse= render partial: "items/new"
      %ul.items-list
        = render "projects/general_tasks", project: @project
        = render @project.items.order("created_at")

.col-md-4

  .panel.panel-default.project-details-panel

    .panel-heading
      .panel-title
        Project Details
        %button.btn.btn-xs.btn-warning.pull-right{data: { toggle: "modal", target: "#edit-project-#{@project.id}-modal" }}
          %i.fa.fa-pencil
        = render "projects/edit", project: @project

    .panel-body

      .row
        %label.col-md-4 Start Date:
        .col-md-8= print_date(@project.created_at, "xl")

      .row
        %label.col-md-4 Due Date:
        .col-md-8= print_date(@project.due_date, "xl") || "-"

      .row
        %label.col-md-4 End Date:
        .col-md-8= print_date(@project.end_date, "xl") || "-"

      %hr

      .row
        %label.col-md-4 Assigned By:
        .col-md-8= @project.assigned_by || "No One"
        
      .row
        %label.col-md-4 Assigned:
        .col-md-8= render @project.users.uniq

      %hr

      .row
        %label.col-md-4 Status:
        .col-md-8= render "projects/status", project: @project
        
      %hr
        
      .row
        %label.col-md-12 Description:
        .col-md-12.project-description
          - if @project.description.length != 0
            = @project.description.gsub(/\n/, '<br>').html_safe
          - else
            %i No description provided

  = render "comments/project_comments", project: @project
