.col-md-11{style: "position: fixed; z-index: 1000;"}
  .panel.panel-default.panel-page-header
    .panel-heading
      %h4
        .project-starred
          =link_to project_path(@project, project: { starred: @project.starred.! }), method: :patch do
            %i.fa{class: "#{@project.starred ? 'fa-star' : 'fa-star-o'}"} 
        = link_to "[#{@project.product_name}]", @project.product
        = @project.name.truncate(60)

        .header-block
          %button.btn.btn-xs.btn-warning{data: { toggle: "modal", target: "#edit-project-#{@project.id}-modal" }}
            %i.fa.fa-pencil.btn-margin

        .header-block
          = render "projects/status", project: @project

        .header-block
          %b= @project.end_date ? "End Date:" : "Due Date:"
          - if @project.end_date
            = @project.end_date.strftime("%D")
          - else
            = @project.due_date ? @project.due_date.strftime("%D") : "None"

        .header-block
          %b Start Date: 
          = @project.created_at.strftime("%D")

        .header-block
          %b Assigned:
          = render @project.users.uniq

        .header-block
          %b Assigned By:
          = @project.assigned_by.present? ? @project.assigned_by : "No One"

      = render "projects/edit", project: @project

.col-md-8{style: "padding-top: 55px;"}

  .panel.panel-default.project-tasks-panel
    .panel-heading
      .panel-title
        Project Tasks
        %button.btn.btn-sm.btn-success.pull-right{data: { toggle: "collapse", target: "#addItem" }}
          %i.fa.fa-plus-circle.btn-margin
          Create a new item 

    .panel-body
      #addItem.collapse= render partial: "items/new"
      %ul.items-list
        = render "projects/general_tasks", project: @project
        = render @project.items.order("created_at")

.col-md-4{style: "padding-top: 55px;"}

  .panel.panel-default.project-details-panel

    .panel-heading
      .panel-title
        Project Details

    .panel-body

      .row
        .col-md-12.project-description
          - if @project.description.length != 0
            = @project.description.gsub(/\n/, '<br>').html_safe
          - else
            %i No description provided

  = render "comments/project_comments", project: @project
