<div class="col-md-8" style="padding-right: 0px;">

	<div class="panel panel-default project-tasks-panel">
		<div class="panel-heading">
			<h4>
				<%= render "projects/starred", :project => @project %>
				<%= link_to "[#{@project.product_name}]", @project.product %> <%= @project.name %>
				<%= link_to "Add Item".html_safe, 'javascript:;', "data-toggle" => "collapse", 'data-target' => '#addItem', class: "btn btn-sm btn-default pull-right", style: "margin-top: -4px;" %><br>
			</h4>
		</div>

		<div class="panel-body">

			<div id="addItem" class="collapse"><%= render partial: "items/new" %></div>

			<ul class="items-list">
				<%= render "projects/general_tasks", :project => @project %>
				<%= render @project.items.order("created_at") %>
			</ul>

		</div>

	</div>

</div>

<div class="col-md-4">

	<div class="panel panel-default project-details-panel">
		<div class="panel-heading">
			<h5>
				<div class="panel-title">Project Details</div>
				<div class="pull-right" data-toggle="modal" data-target="#edit_project_<%= @project.id %>_modal"><a href="javascript:void(0)"><i class="fa fa-pencil"></i></a></div>
			</h5>
			<%= render "projects/edit", :project => @project %>
		</div>

		<div class="panel-body">

			<div class="col-md-4 project-label">Start Date:</div>
			<div class="col-md-8 project-field"><i class="fa fa-calendar"></i> <%= print_date(@project.created_at, "xl") %></div>

			<div class="col-md-4 project-label">Due Date:</div>
			<div class="col-md-8 project-field">
				<% if @project.due_date %>
					<i class="fa fa-calendar"></i> <%= print_date(@project.due_date, "xl") %>
				<% else %>
					<i>No Due Date</i>
				<% end %>
			</div>

			<div class="col-md-4 project-label">End Date:</div>
			<div class="col-md-8 project-field">
				<% if @project.end_date %>
					<i class="fa fa-calendar"></i> <%= print_date(@project.end_date, "xl") %>
				<% else %>
					<i>Project not completed</i>
				<% end %>
			</div>

			<div class="col-md-12 project-hr"><hr></div>

			<div class="col-md-4 project-label">Product:</div>
			<div class="col-md-8 project-field"><%= link_to @project.product_name, @project.product %></div>

			<div class="col-md-4 project-label">Items:</div>
			<div class="col-md-8 project-field"><%= @project.items.count if @project.items %></div>

			<div class="col-md-4 project-label">Status:</div>
			<div class="col-md-8"><%= render "projects/status", :project => @project %></div>

			<div class="col-md-12 project-hr"><hr></div>

			<div class="col-md-4 project-label">Assigned By:</div>
			<div class="col-md-8 project-field"><%= @project.assigned_by.present? ? @project.assigned_by : "<i>No One</i>".html_safe %></div>

			<div class="col-md-4 project-label" style="padding-top: 4px;"><b>Assigned:</b></div>
			<div class="col-md-8 project-assigned">
				<% if @project.has_users %>
					<% for u in @project.users.uniq %>
						<%= render "users/photo", :user => u %>
						<%= link_to u.name, u %>
						<br>
					<% end %>
				<% else %>
					<i>No one assigned</i><br>
				<% end %>
			</div>

			<div class="col-md-12 project-hr"><hr></div>

			<div class="col-md-12 project-label">Description:</div>
			<div class="col-md-12 project-description">
				<% if @project.description.length != 0 %>
					<%= @project.description.gsub(/\n/, '<br>').html_safe %>
				<% else %>
					<i>No description provided</i>
				<% end %>
			</div>

		</div>
	</div>

	<%= render partial: "comments/new" %>

	<div class="panel panel-default comment-wall-panel">
		<div class="panel-heading">
			<h5><div class="panel-title">Project Wall <%= "(#{@project.comments.count})" %></div></h5>
		</div>
		<div class="panel-body">
			<%= render @project.comments.order('created_at DESC') %>
		</div>
	</div>

</div>


