<div class="panel panel-default">

	<div class="panel-heading">
		<h3>
				<span class="fa-stack" style="font-size: 14px;">
				  <i class="fa fa-folder fa-stack-2x"></i>
					<% if @project.status == "Incomplete" %>
				  <i class="fa fa-ellipsis-h fa-inverse fa-stack-1x"></i>
					<% elsif @project.status == "In Progress" %>
					  <i class="fa fa-refresh fa-inverse fa-stack-1x"></i>
				<% else %>
					  <i class="fa fa-check fa-inverse fa-stack-1x"></i>

					<% end %>
				</span>

			<%= link_to "[#{@project.product.name}]", @project.product %> <%= @project.name %>



			<%= render partial: "projects/tools", :locals => {:project => @project} %>


		</h3>
	</div>

	<div class="panel-body">
		<%= render partial: "projects/info", :locals => {:project => @project} %>
	</div>

</div>

<div class="panel panel-default">

	<div class="panel-heading">
		<h4><i class="fa fa-check-circle"></i> Tasks (<%= @project.tasks.incomplete.count %>)</h4>
	</div>

	<div class="panel-body">

		<div class="tasks-list">
			<ul><%= render @project.tasks.incomplete.order("due_date") %></ul>

			<%= link_to '<i class="fa fa-plus"></i> Add Task'.html_safe, 'javascript:;', "data-toggle" => "collapse", 'data-target' => '#addTask', class: "add-task" %>

		</div>

		<div id="addTask" class="collapse">
			<%= form_for [@project.tasks.new], :html => {:class => 'form-inline'} do |f| %>
			<div class="form-group">
				<%= f.hidden_field :project_id, :value => @project.id, class: "form-control"%>
				<%= f.text_field :name, :placeholder => "Task", class: "form-control" %>
				<%= f.date_field :due_date, class: "form-control" %>
				<%= f.submit "Add Task", class: "btn btn-md btn-success" %>
			</div>
			<% end %>
		</div>

		<hr>

		<div class="tasks-list">
			<ul class="completed"><%= render @project.tasks.completed %></ul>
		</div>

	</div>

</div>
