<li class="item" id="item_<%= item.id %>">
	<h4 class="item-main">
		<%= "<i class='fa fa-#{item_type_hash[item.item_type]["icon"]} fa-fw item-type-icon'></i>".html_safe %>

		<div class="item-name"><%= item.name %></div>

		<div class="item-tools"><%= render "items/tools", :item => item %></div>

		<%= link_to "<i class='fa fa-plus'></i>".html_safe, 'javascript:;', "data-toggle" => "collapse", 'data-target' => "#item_#{item.id}_addTask", class: "btn btn-default btn-xs pull-right add-task-btn" %>

		<div class="pull-right"><%= render "items/status", :item => item  %></div>

	</h4>

	<%= render "items/edit", :item => item %>

		<div class="collapse" id="item_<%= item.id %>_addTask"><%= render "tasks/new", :item => item %></div>

		<div class="tasks-list-box" id="item_<%= item.id %>_tasks" style="<%= 'margin-bottom: 15px;' if item.tasks.any? %>">
			<%= render "items/tasks", { :tasks => item.tasks, :item_id => item.id } if item.tasks.any? %>
		</div>

</li>