<center>
	<%= form_for [@project, @project.items.new], :html => {:class => 'form-inline'} do |f| %>

		<div class="form-group">

			<i class="fa fa-level-up fa-rotate-90"></i>
			<div class="add-item-title"> Add <b>Item</b>:</div>

			<%= f.hidden_field :project_id, :value => @project.id %>
			<%= f.hidden_field :created_by, :value => current_user.id %>
			<%= f.text_field :name, :placeholder => "Item name", class: "form-control input-sm add-item-name", :required => true %>
			<%= f.select(:item_type, [['Graphic'],['Print'],['Video'],['Web']], {:include_blank => "Misc"}, { :class => 'form-control input-sm' }) %>
			<%= f.submit "Add Item", class: "btn btn-sm btn-default" %>
			<button type="button" class="close pull-right" data-toggle="collapse" data-target="#addItem">&times;</button>
		</div>

	<% end %>
</center>

