<center>
	<%= form_for [@project.items.new], :html => {:class => 'form-inline'} do |f| %>

		<div class="form-group">
			<%= f.hidden_field :project_id, :value => @project.id %>
			<%= f.text_field :name, :placeholder => "Item name", class: "form-control input-sm", :required => true %>
			<%= f.submit "Add Item", class: "btn btn-sm btn-primary" %>
			<%= link_to "x".html_safe, 'javascript:;', "data-toggle" => "collapse", 'data-target' => '#addItem', style: "margin-left: 5px;" %>
		</div>

	<% end %>
</center>