<center>
	<%= form_for [@project.items.new], :html => {:class => 'form-inline'} do |f| %>

		<div class="form-group">

			<i class="fa fa-level-up fa-rotate-90"></i>
			<div class="add-item-title"> Add Item:</div>

			<%= f.hidden_field :project_id, :value => @project.id %>
			<%= f.text_field :name, :placeholder => "Item name", class: "form-control input-sm add-item-name", :required => true %>
			 <%= f.select(:item_type, [['Graphic'],['Print'],['Video'],['Web']], {}, { :class => 'form-control input-sm' }) %>
			<%= f.submit "Add Item", class: "btn btn-sm btn-default" %>
		</div>

	<% end %>
</center>