- if tasks.incomplete.any?
  %hr
  .title-sm= "Remaining Tasks (#{tasks.incomplete.count})"
  %ul.tasks-list{id: "item-#{item_id}-incompleteTasks"}= render tasks.incomplete.priority_sort

- if tasks.completed.any?
  = link_to "javascript:;",
    data: { toggle: "collapse", target: "#item-#{item_id}-completedTasks" },
    class: "title-sm" do
    Completed Tasks (#{tasks.completed.count})
  %ul.tasks-list.collapse{id: "item-#{item_id}-completedTasks"}= render tasks.completed.order("completed_at")
