%tr{id: "product_#{product.id}"}
  %td= product.name
  %td.text-center= product.projects.count
  %td.text-center
    = link_to edit_product_path(product),
      class: "button btn btn-xs btn-warning",
      remote: true do
      %i.fa.fa-pencil

    = link_to product_path(product),
      method: :delete,
      data: { confirm: "Are you sure you want to delete this product?" },
      class: "button btn btn-xs btn-danger",
      disabled: !product.deletable? do
      %i.fa.fa-trash
