%tr{id: "product_#{product.id}"}
  %td= product.name
  %td.text-center= product.projects.count
  %td.text-center
    = link_to edit_product_path(product),
      remote: true,
      data: { title: "Edit Product", toggle: "tooltip", placement: "bottom" },
      class: "button btn btn-xs btn-warning" do
      %i.fa.fa-pencil

    = link_to product_path(product),
      method: :delete,
      confirm: "Are you sure you want to delete this product?",
      data: { title: "Delete Product", toggle: "tooltip", placement: "bottom" },
      disabled: !product.deletable?,
      class: "button btn btn-xs btn-danger" do
      %i.fa.fa-trash

