<div class="col-md-12">

	<div class="panel panel-default">

		<div class="panel-heading">
			<h3><%= @product.name %>
				<div class="pull-right" data-toggle="modal" data-target="#edit_product_<%= @product.id %>_modal"><a href="javascript:void(0)"><i class="fa fa-pencil"></i></a></div>
			</h3>
			<%= render "products/edit", :product => @product %>
		</div>

		<div class="panel-body">
			<h4>Active Projects</h4>
			<%= render "projects/active_projects", :projects => @product.projects.incomplete.priority_sort %>

			<br>

			<h4>Completed Projects</h4>
			<%= render "projects/completed_projects", :projects => @product.projects.completed.completed_sort %>
		</div>

	</div>

</div>

