%nav.side-nav.col-md-2

  .brand= link_to "apollo 1.7", changelog_path

  .user-banner
    = link_to projects_path do
      = image_tag current_user.profile_photo.url(:small), class: "user-photo profile-photo"
    .user-name.hidden-sm= current_user.name

  %ul.nav.nav-pills.nav-stacked

    %li.nav-item{class: "#{'selected' if params[:controller] == 'projects'}"}
      = link_to projects_path, data: { keybinding: "p" } do
        %i.fa.fa-fw.fa-folder-o
        .inline.hidden-sm Projects

    %li.nav-item{class: "#{'selected' if current_page?(print_jobs_path)}"}
      = link_to print_jobs_path do
        %i.fa.fa-fw.fa-print
        .inline.hidden-sm Print Jobs

    %li.nav-item{class: "#{'selected' if current_page?(products_path)}"}
      = link_to products_path do
        %i.fa.fa-fw.fa-shopping-cart
        .inline.hidden-sm Products

    %li.nav-item{class: "#{'selected' if current_page?(users_path)}"}
      = link_to users_path do
        %i.fa.fa-fw.fa-users
        .inline.hidden-sm Team

    %li.nav-item{class: "#{'selected' if current_page?(edit_user_registration_path)}"}
      = link_to edit_user_registration_path do
        %i.fa.fa-fw.fa-cog
        .inline.hidden-sm Settings

    %li.nav-item
      = link_to destroy_user_session_path, method: :delete do
        %i.fa.fa-fw.fa-sign-out
        .inline.hidden-sm Log Out
