<% if user_signed_in? %>

<nav class="side-nav col-md-2">

    <div class="brand">apollo 1.4</div>

    <div class="user-section">
    	<%= link_to current_user do %><%= image_tag current_user.profile_photo.url(:small), class: "profile-photo" %><% end %>
    	<div class="user-name"><%= current_user.name %></div>
    </div>

	<ul class="nav nav-pills nav-stacked">
		<hr>
		<li class="<%= 'selected' if params[:controller] == 'tasks' %>"><%= link_to "<i class='fa fa-check-circle'></i> Tasks <span class='badge'>#{current_user.tasks.incomplete.count}</span>".html_safe, tasks_path %></li>
			<hr>
        <li class="<%= 'selected' if params[:controller] == 'projects' %>"><%= link_to "<i class='fa fa-folder-o'></i> Projects <span class='badge'>#{current_user.projects.incomplete.uniq.count}</span>".html_safe, current_user %></li>
        <hr>
         <li class="<%= 'selected' if current_page?(myCalendar_path) %>"><%= link_to "<i class='fa fa-calendar'></i> Calendar".html_safe, myCalendar_path %></li>
        <hr>
        <li class="<%= 'selected' if current_page?(users_path) %>"><%= link_to '<i class="fa fa-users"></i> Team'.html_safe, users_path %></li>
        <hr>
        <li class="<%= 'selected' if current_page?(products_path) %>"><%= link_to '<i class="fa fa-shopping-cart"></i> Products'.html_safe, products_path %></li>
        <hr>
        <li class="<%= 'selected' if current_page?(edit_user_registration_path) %>"><%= link_to '<i class="fa fa-cog"></i> Settings'.html_safe, edit_user_registration_path %></li>
        <hr>
        <li><%= link_to '<i class="fa fa-sign-out"></i> Log Out'.html_safe, destroy_user_session_path, method: :delete %></li>

	</ul>

</nav>

<% end %>