<!DOCTYPE html>
<html>
<head>
  <title>apollo</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Orbitron:400,700' rel='stylesheet' type='text/css'>
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
</head>
<body>

<% flash.each do |name, msg| %>
   <%= content_tag(:div, msg, class: "alert alert-info") %>
<% end %>

<%= yield %>

</body>
</html>
